<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description" command="cat '$(find agv_description)/urdf/robot_2_no_dir.urdf.xacro'" />
    <!--param name="robot_description" command="cat '$(find agv_description)/urdf/robot.xacro'" /-->
 
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find agv_description)/worlds/gs.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>
 
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model agv -x $(arg x) -y $(arg y) -z $(arg z)" />
     <node name="fake_odom" pkg="agv_description" type="fake_odom" respawn="true" output="screen"/>
     <node name="agv_sub_and_pub" pkg="agv_description" type="agv_sub_and_pub" respawn="true" output="screen"/>
    <include file="$(find agv_description)/launch/control.launch"/>
 
</launch>
