<?xml version="1.0" encoding="UTF-8"?>
<launch>


 	<arg name="model" default="$(find ackermann_description)/urdf/em_1.urdf.xacro" />
  	<arg name="gui" default="true" />
    <param name="use_gui" value="$(arg gui)"/>
      <arg name="rvizconfig" default="$(find ackermann_description)/rviz/agv.rviz" />
      <arg name="namespace" default="/agv"/>
  
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
    <!-- load rviz configs -->
     <group ns="$(arg namespace)">
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />



    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" >

    </node>
    </group>
</launch>
